export(betas.vector.default)
export(beverton.holt)
export(dispersal.per.recruit.model)
export(dpr.plus.homerange.gravity)
export(hockey.stick)
export(laplacian.connectivity.matrix)
export(merge.subpops)
export(optimal.split.conn.mat)
export(quality.conn.mat)
export(rec.split.conn.mat)
export(settler.recruit.slope.correction)
export(split.conn.mat)
export(subpops.vector.to.list)
