export(betasVectorDefault)
export(BevertonHolt)
export(DispersalPerRecruitModel)
export(DPRHomerangeGravity)
export(hockeyStick)
export(laplacianConnMat)
export(mergeSubpops)
export(optimalSplitConnMat)
export(qualitySubpops)
export(recSplitConnMat)
export(settlerRecruitSlopeCorrection)
export(splitConnMat)
export(subpopsVectorToList)
